[{elvis,
 [{config,
    [#{dirs => ["src"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [
           {elvis_style, private_data_types, #{ignore => [signerl_xml]}},
           {elvis_style, atom_naming_convention, #{ignore => [signerl_cert]}}
       ]},
     #{dirs => ["test"],
       filter => "*.erl",
       ruleset => erl_files,
       rules => [
           {elvis_style, atom_naming_convention, #{ignore => [test_helpers]}},
           {elvis_style, god_modules, #{ignore => [signerl_SUITE]}}
       ]},
     #{dirs => ["."],
       filter => "elvis.config",
       ruleset => elvis_config}]}]}].
