{erl_opts, [debug_info]}.
{deps, []}.

{alias, [
    {test, [
        {cover, "--reset"},
        eunit,
        fmt,
        {ct, "--cover verbose true"},
        {cover, "--min_coverage 100"}
    ]},
    {tall, [
        {cover, "--reset"},
        eunit,
        fmt,
        xref,
        dialyzer,
        {ct, "--name ct --sys_config=config/sys.config --readable true --cover verbose true"},
        {cover, "--min_coverage 100"}
    ]}
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{project_plugins, [erlfmt, rebar3_lint]}.

{erlfmt, [write]}.

{shell, [
    % {config, "config/sys.config"},
    {apps, [signerl]}
]}.
